## IMPORTING LIBRARY

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.axes as ax

## LOADING DATA

In [2]:
data = pd.read_csv('data_for_lr.csv')

In [3]:
data.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [5]:
data.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

## Data Preprocessing

### Handling Null Values

In [9]:
data = data.dropna()

In [12]:
print("Shape of the data:",data.shape)

Shape of the data: (699, 2)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

## Splitting the data

In [16]:
# training datasets and labels
# we are choosing 500 elements for training and then reshape it into 500 rows to 1 column
# This takes the first 500 elements (indices 0 to 499)
train_input = np.array(data.x[0:500]).reshape(500,1)   
train_output = np.array(data.y[0:500]).reshape(500,1)

# testing 
test_input = np.array(data.x[500:700]).reshape(199,1)
test_output = np.array(data.y[500:700]).reshape(199,1)

# PRinting shapes
print("Training input : {}".format(train_input.shape))
print("Training output : {}".format(train_output.shape))
print("Testing input : {}".format(test_input.shape))
print("Testing output : {}".format(test_output.shape))

Training input : (500, 1)
Training output : (500, 1)
Testing input : (199, 1)
Testing output : (199, 1)

# <font color = "green">Linear Regression</font>

## Forward propogation

**f(x) = m*x + c** ; where m and c are the parameters that or model will learn through training.

In [20]:
def forward_propogation(train_input,parameters):
    m = parameters['m']
    c = parameters['c']
    predictions = np.multiply(m,train_input)+c
    return predictions

## Defining Cost Funciton

**Mean Squared Error, Cost = [(y - f(x)) ^ 2] * 0.5**

where y are the actual or true values and f(x) are the predicted values.

In [21]:
def cost_func(predicitons,train_output):
    cost = np.mean((train_output - predictions)**2) * 0.5
    return cost

## Gradient Descent for Backpropagation